---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed" />
{% endif %}

  <h1>Hi, I'm AnorakX, a <u>diverse</u> Python developer.</h1>
  {% if site.theme_config.show_description == true %}
    <p>I'm a student and developer who has been coding in <u><b><a href="https://python.org">Python</a></b></u> since 2018 and started using Discord.py when the pandemic began.</p>
  {% endif %}
</header>

{% if site.theme_config.show_projects == true %}
  <h2>Skills</h2>
  {% include card_list.html collection=site.data.home.skills %}
{% endif %}

{% if site.theme_config.show_projects == true %}
  <h2>Discord.py Projects</h2>
<p><i>Click on the cards to see more info!</i></p>
  {% include card_list.html collection=site.data.home.discord_project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>Details</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed" />
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
